html {
    max-width: 100%;
    overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FAFFF7;
}

.loading {
  text-align: center;
  font-family: Merriweather;
  color: #4f3816;
  padding: 200px;
  font-weight: lighter;
  display: block;
}

/* Entire page grid to separate header and content */

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 80px 40px auto 30px 30px;
  grid-template-areas:
  "h h h"
  ". . ."
  ". m ."
  ". p ."
  "f f f";
}

.footer {
    background-color: #fff;
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    box-shadow: inset 0 10px 15px 0 rgb(120, 120, 120, 0.3);
}

.footer > a {
    position: sticky;
    text-transform: none; 
    opacity: 0.5;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
  
.header {
  text-align: center; 
  grid-area: h;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  color: #4f3816;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  font-weight: lighter;
}

hr {
  width: 50%;
  border-color: #4f3816;
  border-width: 1px;
  border-top: none;
  color: #4f3816;
}

/***** Observation page ********/

.observation-page > button {
  position: absolute;
  top: 50%;
  left: -2em;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #333;
  font-family: sans-serif;
  font-weight: lighter;
}

.observation-page {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  width: 62em;
}

.carousel {
    position: relative;
    box-sizing: border-box;
    width: auto;
    flex: 0 0 300px;
    transition: all 0.5s ease-in-out;   
}

.carousel > img { 
  border-radius: 10px;
  margin: 15px;
  margin-bottom: 10px;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}

.image-counter {
  font-family: Arial;
  background-color: rgb(50, 50, 50, 0.6);
  color: #fff;
  position: absolute;
 font-size: 0.8em;
}

.carousel > .image-counter {
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 0 6px 0 6px; 
}

.observation-card > .image-counter {
  top: 0;
  right: 0;     
  border-radius: 0 0 0 6px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-counter > span {
    margin-right: 4px;
}

.observation-page > .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-width: 100px;
  text-decoration: none;
  text-align: center;
  overflow-y: auto;
  font-size: 1em;
  color: #777;
  text-transform: lowercase;
}

.details > #common-name {
    font-size: 2em;
    font-weight: bold;
    
}

.details > div > #rank {
    font-size: 1em;
    font-style: italic;
}

.details > div > #name {
    font-size: 1.5em;
    font-style: italic;
}

.details > #wikipedia-summary {
    text-align: left;
    line-height: 1.75em;
    align-content: center;
    padding: 2em 0 2em 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#wikipedia-summary > a {
    text-decoration: underline;
}

.details > #date {
    font-size: 0.75em;
    padding-top: 2em;
}

.details > #inat-link {
  padding-left: 50px;
  display: none;
}

.main-content {
  height: 100%;
  padding: 1em;
  grid-area: m;
}

.username, .username-input {
  margin-bottom: 2em;
  color: #4f3816;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  border-style: none;
  border-color: #FAFFF7;
  background-color: #FAFFF7; 
  font-family: Merriweather;
  box-sizing: border-box;
  outline: none;
}

#pencil {
  width: 0.9em;
  color: #4f3816;
}

.user-not-found {
    text-align: center;
    color: #4f3816;
    font-size: 1.5em;
    font-style: italic;
}

/* observation grid */
.observationgrid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-auto-rows: 225px;
  grid-gap: 40px;
  transition: all 0.5s ease-in-out;
}

.observation-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 0 0 10px 10px;;
  box-shadow: 1px 1px 2px 0 rgb(100, 100, 100, 0.3);
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
}


@media only screen and (max-width: 480px) {
  html, body, .main-content {
      padding: 0;
  }
  .main-content {
      padding: 0;
  }
  .observationgrid-container {
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    grid-gap: 2px;
  }

  .grid-container {
    grid-template-columns: 0 auto 0;
    grid-template-rows: 80px 40px auto;  

  }
}

.observation-card:hover {
  box-shadow: 1px 25px 25px 0 rgb(100, 100, 100, 0.3);
  transform: translateY(-20px);
  scale: 1.1;
  transition: all 0.3s;
}

.observation-card > img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
}

.observation-card > .no-image {
    margin: auto;
    color: #777;
}

@keyframes fade-in {
    from {
      border-radius: 10px;
      scale: 0.01
    }
    to   {
      scale: 1;
      border-radius: none;
    }
}


img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.image-placeholder {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #e1fad2;
  animation: loading-flip 1s infinite linear;
}

@keyframes loading-flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

.observation-card > .caption, a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  overflow-y: auto;
  font-size: 1em;
  color: #777;
  text-transform: lowercase;
}

.page-controller {
  width: 100%;
  grid-area: p;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.page-number {
  margin: 1em;
  color: #4f3816;
}

.page-button {
   border: none;
   padding: 1em;
   color: #4f3816;
}

.page-button:disabled {
  visibility: hidden;
}

.image-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(100, 100, 100, 0.5);
  width: 100%;
  height: 100%;
  padding: 5%;
}

